h1 {
  color: white;
  font-family: Sans-serif;
}

body {
  background-color:#8B4C89;
}
button {
  background-color: #BF6944;
}

input {
  width: 200px;
  height: 30px;
  background-color: #736E6E;
}
